<?xml version="1.0" ?>
<robot name="dynamic_obstacle">
  <link name="baseLink">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.9"/>
      <geometry>
        <cylinder radius="0.25" length="1.8"/>
      </geometry>
      <material name="red">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.9"/>
      <geometry>
        <cylinder radius="0.25" length="1.8"/>
      </geometry>
    </collision>

    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.9"/>
      <mass value="0.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
</robot>
